# Jupyter Notebook
.ipynb_checkpoints

# python build files and virtual environment.
*.egg-info
__pycache__/

# osx and editor files.
.DS_Store
.idea

# Data and output directories.
outs/
data/
plots/

# LaTeX files
*.cls
